# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# QtCreator

*.autosave

# Documentation and other shared staff
/share

# binaries
/bin

# include
/include

# libraries
/lib

# build temporary files
/build